body {
	padding: 0px;
	font-family: arial;
	color: white;
}
body:hover {
	cursor: Default;
}
::-moz-selection { /* firefox new ie? lol */
    color: none;
    background: none;
}

::selection {
    color: none;
    background: none;
}
#game {
	width: 960px;
	margin: 0px;
	height: 640;
	padding: 20px;
	background-color: #003300;
}
#moneyamt {
	font-size: 40px;
}
#statusLog {
	width: 390;
	height: 300;
	overflow-y: auto;
	float: right;
	background-color: brown;
	margin: 10;
}
.statusmessage {
	margin: 10;
}
#companylist {
	height: 300px;
	float: left;
}
#graph {
	background-color: #DDE3FF;
	float: right;
}
#context{
	height: 200px;
	width: 300;
	background-color: #004400;
	margin: 10;
	padding: 10
}
#inventory {
	width: 40%;
}
#companytable, #inventorytable {
	text-align: center;
	padding: 8px;
	background-color: black;
	color: white;
}
.clickable {
	background-color: #442200;
}

.clickable:hover {
	background-color: #884400;
}
.clickable.green {
	background-color: #006600;
}
.clickable.green:hover {
	background-color: #00bb00;
}
.clickable.red {
	background-color: #660000;
}
.clickable.red:hover {
	background-color: #bb0000;
}
tr:hover {
	background-color: #191919 !important;
}
td {
	padding: 3px;
}