body {
	padding: 0px;
	font-family: arial;
}
#game {
	width: 960;
	height: 640;
	padding: 20px;
	background-color: #CCFFDD;
	margin: 0px;
}
#graph {
	
	background-color: #DDE3FF;
	float: right;
}
#activecomp {
	height: 200px;
}
#inventory {
	height: 100px;
}